
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
